---
- name: Create symlinks
  become: true
  ansible.builtin.file:
    src: "{{ script.src }}"
    dest: "{{ script.dest }}"
    owner: "{{ ansible_facts['env']['USER'] }}"
    state: link
    force: true
    follow: false
  loop: "{{ scripts_symlinks }}"
  loop_control:
    loop_var: script
