---
- name: check if cargo is installed
  become_user: "{{ ansible_facts.env.USER }}"
  stat:
    path: "{{ ansible_facts.env.HOME }}/.cargo/bin/cargo"
  register: cargo_path
  ignore_errors: true
  changed_when: false

- name: ensure rustup is installed
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  changed_when: false
  shell: "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"
  args:
    executable: /bin/bash

- name: install rust toolchain
  shell: ./rustup toolchain remove stable && ./rustup toolchain install stable
  changed_when: false
  args:
    chdir: "{{ ansible_facts.env.HOME }}/.cargo/bin"
    executable: /bin/bash
