---
- name: download gitHub cli archive keyring
  become: true
  get_url:
    url: "https://cli.github.com/packages/githubcli-archive-keyring.gpg"
    dest: "/usr/share/keyrings/githubcli-archive-keyring.gpg"
    mode: 0644

- name: set permissions on the keyring file
  file:
    path: "/usr/share/keyrings/githubcli-archive-keyring.gpg"
    mode: 0644

- name: get system architecture
  command: dpkg --print-architecture
  register: system_architecture
  changed_when: false

- name: add gitHub cli repository
  become: true
  apt_repository:
    repo: "deb [arch={{ system_architecture.stdout }} signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main"
    state: present
    filename: github-cli

- name: update apt repositories
  become: true
  apt:
    update_cache: true
  changed_when: false

- name: install gitHub cli
  become: true
  apt:
    name: gh
    state: present
  changed_when: false
