---
- name: Get latest version of nvm
  ansible.builtin.shell: "basename $(curl -fs -o/dev/null -w %{redirect_url} https://github.com/nvm-sh/nvm/releases/latest)"
  register: nvm_latest_version
  changed_when: false

- name: Clone nvm repository
  ansible.builtin.git:
    repo: "https://github.com/nvm-sh/nvm.git"
    dest: "{{ ansible_facts['env']['HOME'] }}/.nvm"
    version: "{{ nvm_latest_version.stdout }}"
    depth: 1
    clone: true
    update: true
    force: true
