[user]
	email = 58788781+drew138@users.noreply.github.com
	name = Andres Salazar Galeano
    signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = nvim
	symlinks = false
	excludesfile = ~/.gitignore_global
[push]
	default = current
[pull]
	rebase = false
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
    nodiff = true
[mergetool "nvimdiff"]
    trustExitCode = false
    layout = "MERGED"
[init]
    defaultBranch = main
[commit]
	gpgsign = true
[gpg]
    format = ssh
[includeIf "gitdir:~/work/"]
    path = ~/.workrc.gitconfig
