---
- name: Create /usr/local/include
  become: true
  ansible.builtin.file:
    path: /usr/local/include
    state: directory
    mode: "0755"
    group: wheel

- name: Create /usr/local/include/bits
  become: true
  ansible.builtin.file:
    path: /usr/local/include/bits
    state: directory
    mode: "0755"
    group: wheel

- name: Copy stdc++.h to /usr/local/include/bits
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/roles/cpp/files/stdc++.h"
    dest: /usr/local/include/bits/stdc++.h
    remote_src: true
    mode: "0644"
    owner: root
    group: wheel

- name: Create clangd preferences directory
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/Library/Preferences/clangd"
    state: directory
    mode: "0755"

- name: Symlink global clangd config
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/roles/cpp/files/config.yml"
    dest: "{{ ansible_facts['env']['HOME'] }}/Library/Preferences/clangd/config.yaml"
    owner: "{{ ansible_facts['env']['USER'] }}"
    state: link
    force: true
    follow: false
