---
- name: Check directory stats
  ansible.builtin.stat:
    path: "{{ item }}"
  loop:
    - /usr/local/include
    - /usr/local/include/bits
  register: cpp_verify_dir_stats

- name: Assert include directories exist
  ansible.builtin.assert:
    that:
      - item.stat.exists
      - item.stat.isdir
    fail_msg: "Directory missing: {{ item.item }}"
  loop: "{{ cpp_verify_dir_stats.results }}"

- name: Check stdc++.h file stats
  ansible.builtin.stat:
    path: /usr/local/include/bits/stdc++.h
  register: cpp_verify_stdc_header_stat

- name: Assert stdc++.h is present
  ansible.builtin.assert:
    that:
      - cpp_verify_stdc_header_stat.stat.exists
      - cpp_verify_stdc_header_stat.stat.isreg
    fail_msg: "The C++ header stdc++.h was not found in /usr/local/include/bits/"

- name: Check clangd config file stats
  ansible.builtin.stat:
    path: "{{ ansible_facts['env']['HOME'] }}/Library/Preferences/clangd/config.yaml"
  register: clangd_verify_config_stat

- name: Assert clangd config file exists
  ansible.builtin.assert:
    that:
      - clangd_verify_config_stat.stat.exists
      - clangd_verify_config_stat.stat.isreg
    fail_msg: "clangd config.yaml file is missing at ~/Library/Preferences/clangd/config.yaml"
    success_msg: "clangd config.yaml file is present"
