---
- name: install go binaries
  become_user: "{{ ansible_env.USER }}"
  shell: "/usr/local/go/bin/go install {{ go_package }}"
  loop:
    - github.com/charmbracelet/gum@latest
    - github.com/go-delve/delve/cmd/dlv@latest
    - github.com/vektra/mockery/v2@latest
    - github.com/tsenart/vegeta@latest
  loop_control:
    loop_var: go_package
