---
- name: Install Go binaries if missing
  ansible.builtin.shell: "/usr/local/go/bin/go install {{ go_package }}"
  args:
    executable: /bin/bash
    creates: "{{ ansible_facts['env']['HOME'] }}/go/bin/{{ go_package | basename | regex_replace('@.*', '') }}"
  loop:
    - github.com/charmbracelet/gum@latest
    - github.com/go-delve/delve/cmd/dlv@latest
    - github.com/vektra/mockery/v2@latest
    - github.com/tsenart/vegeta@latest
    - github.com/mikefarah/yq/v4@latest
  loop_control:
    loop_var: go_package
  listen: install_go_binaries
