---
- name: Ensure screenshots directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots"
    state: directory
    mode: "0755"

- name: Configure screenshot location
  ansible.builtin.command: >
    defaults write com.apple.screencapture location "{{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots"
  changed_when: false

- name: Disable floating screenshot thumbnail preview
  ansible.builtin.command: >
    defaults write com.apple.screencapture show-thumbnail -bool false
  changed_when: false

- name: Set screenshot format to PNG
  ansible.builtin.command: >
    defaults write com.apple.screencapture type -string png
  changed_when: false

- name: Remove timestamp from screenshot filenames
  ansible.builtin.command: >
    defaults write com.apple.screencapture include-date -bool false
  changed_when: false

- name: Restart SystemUIServer to apply screenshot settings
  ansible.builtin.command: killall SystemUIServer
  changed_when: false
