---
- name: verify screenshot location
  command: defaults read com.apple.screencapture location
  register: verify_screenshot_location
  changed_when: false

- name: assert screenshot location
  assert:
    that:
      - verify_screenshot_location.stdout | trim
        == "{{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots"
    success_msg: "Screenshot location correctly configured"
    fail_msg: >
      Screenshot location mismatch.
      Expected: {{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots
      Got: {{ verify_screenshot_location.stdout }}
