---
- name: Verify screenshot location
  ansible.builtin.command: defaults read com.apple.screencapture location
  register: screenshots_verify_location
  changed_when: false

- name: Assert screenshot location
  ansible.builtin.assert:
    that:
      - screenshots_verify_location.stdout | trim
        == "{{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots"
    success_msg: "Screenshot location correctly configured"
    fail_msg: >
      Screenshot location mismatch.
      Expected: {{ ansible_facts['env']['HOME'] }}/Pictures/Screenshots
      Got: {{ screenshots_verify_location.stdout }}
