---
- name: Change dock preferences
  ansible.builtin.shell: |
    defaults write com.apple.dock autohide -bool true
    defaults write com.apple.dock tilesize 36
    defaults write com.apple.dock show-recents -bool false
    defaults write com.apple.dock orientation -string "left"
  args:
    executable: /bin/bash
  changed_when: false

- name: Install dockutil
  community.general.homebrew:
    name:
      - dockutil
    state: latest

- name: Clean up dock
  ansible.builtin.include_tasks: remove.yml
  # loop: "{{ dockitems_remove }}"
  # loop_control:
  #   loop_var: dock_item_clean
  #   extended: true
  #   extended_allitems: false

- name: Ensure required dock items exist
  ansible.builtin.include_tasks: add.yml
  loop: "{{ dock_items_persist }}"
  loop_control:
    loop_var: dock_item_add
    extended: true
    extended_allitems: false

- name: Ensure dock items are in correct position
  ansible.builtin.include_tasks: position.yml
  loop: "{{ dock_items_persist }}"
  loop_control:
    loop_var: dock_item_position
    extended: true
    extended_allitems: false
  when:
    - dock_item_position.pos is defined
    - dock_item_position.pos > 0

- name: Force dock restart and flush cache
  ansible.builtin.command: killall Dock
  changed_when: false
