---
- name: Check the current dock position of {{ dock_item_position.name | default(dock_item_position) }}
  ansible.builtin.command:
    cmd: dockutil --find '{{ dock_item_position.name | default(dock_item_position) }}'
  register: dock_item_current_position
  failed_when: '"command not found" in dock_item_current_position.stdout'
  changed_when: false

- name: Get current dock item position from output
  ansible.builtin.set_fact:
    dock_current_position: "{{ dock_item_current_position | regex_replace('^.*slot (.*) in.*$', '\\1') }}"

- name: Move dock item to the correct position
  ansible.builtin.command:
    cmd: |
      dockutil --move '{{ dock_item_position.name | default(dock_item_position) }}' --position '{{ dock_item_position.pos }}'
      {% if not ansible_loop.last %}--no-restart{% endif %}
  when: dock_current_position|int != dock_item_position.pos|int
  changed_when: true
