---
# TODO: remove
# - name: "see if {{ dock_item_clean }} is in the dock"
#   ansible.builtin.command:
#     cmd: dockutil --find '{{ dock_item_clean }}'
#   register: dockitem_exists
#   changed_when: false
#   failed_when: >
#     "No such file or directory" in dockitem_exists.stdout
#     or "command not found" in dockitem_exists.stdout
#
# - name: ensure dock item {{ dock_item_clean }} is removed.
#   ansible.builtin.command:
#     cmd: |
#       dockutil --remove '{{ dock_item_clean }}'
#       {% if not ansible_loop.last %}--no-restart{% endif %}
#   when: dockitem_exists.rc  == 0
#   changed_when: false
#
# - name: pause for 7 seconds between dock changes.
#   ansible.builtin.pause:
#     seconds: 7
#   when:
#     - dockitem_exists.rc == 0
#     - ansible_loop.last
#############################################

# - name: Get current Dock items
#   ansible.builtin.command: dockutil --list
#   register: dock_current_items
#   changed_when: false
#   failed_when: '"command not found" in dock_current_items.stdout'
#
# - name: Remove all current Dock items
#   ansible.builtin.command: >
#     dockutil --remove '{{ item }}'
#     {% if not ansible_loop.last %}--no-restart{% endif %}
#   loop: "{{ dock_current_items.stdout_lines }}"
#   loop_control:
#     extended: true
#   changed_when: false
#
# - name: Pause after removing all dock items
#   ansible.builtin.pause:
#     seconds: 3
#   when: dock_current_items.stdout_lines | length > 0

- name: Remove all Dock items
  ansible.builtin.command: dockutil --remove all --no-restart
  changed_when: false

- name: Restart Dock
  ansible.builtin.command: killall Dock
  changed_when: false
