---
- name: Remove all Dock items
  ansible.builtin.command: dockutil --remove all --no-restart
  changed_when: false

- name: Restart Dock
  ansible.builtin.command: killall Dock
  changed_when: false
