- name: install dependencies
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
    loop:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
- name: add GPG key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present
- name: add docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/debian bullseye stable
    state: present
- name: install docker
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
    loop:
      - docker-ce
      - docker-ce-cli
      - containerd.io
- name: make sure docker is active
  service:
    name: docker
    state: started
    enabled: yes
- name: Add remote user to "docker" group
  user:
    name: your server login user
    groups: "docker"
    append: yes    

- name: Install docker-compose
  get_url:
    url : https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '+x'
