---
- name: Ensure .ssh directory exists
  become: true
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
    state: directory
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0700"

- name: Save decrypted private key variable to id_ed25519
  copy:
    content: "{{ ssh_github_private_key }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519"
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0600"

- name: Save decrypted public key variable to id_ed25519.pub
  copy:
    content: "{{ ssh_github_public_key }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519.pub"
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0600"

- name: Capture gitHub rsa key
  ansible.builtin.shell: ssh-keyscan -t rsa github.com
  register: github_rsa_key
  changed_when: false

- name: Add gitHub rsa key to known_hosts file
  lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
    line: "{{ rsa_key_line }}"
    create: true
  loop: "{{ github_rsa_key.stdout_lines }}"
  loop_control:
    loop_var: rsa_key_line
  no_log: true
  changed_when: false
