---
- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
    state: directory
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0700"

- name: Save decrypted private key variable to id_ed25519
  ansible.builtin.copy:
    content: "{{ ssh_github_private_key }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519"
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0600"

- name: Save decrypted public key variable to id_ed25519.pub
  ansible.builtin.copy:
    content: "{{ ssh_github_public_key }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519.pub"
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0600"

- name: Capture GitHub RSA key
  ansible.builtin.command: ssh-keyscan -t rsa github.com
  register: ssh_github_rsa_key
  changed_when: false

- name: Add gitHub rsa key to known_hosts file
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
    line: "{{ ssh_rsa_key_line }}"
    create: true
    mode: "0644"
  loop: "{{ ssh_github_rsa_key.stdout_lines }}"
  loop_control:
    loop_var: ssh_rsa_key_line
  no_log: true
  changed_when: false
