---
- name: check ssh directory and key stats
  ansible.builtin.stat:
    path: "{{ item.path }}"
  loop:
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
      mode: "0700"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519"
      mode: "0600"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519.pub"
      mode: "0600"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
      mode: "0644"
  register: verify_ssh_file_stats

- name: assert ssh files exist and have correct permissions
  ansible.builtin.assert:
    that:
      - item.stat.exists
      - item.stat.mode == item.item.mode
    fail_msg: >
      SSH file check failed for {{ item.item.path }}.
      Ensure it exists and mode is {{ item.item.mode }}.
  loop: "{{ verify_ssh_file_stats.results }}"

- name: verify github is in known_hosts
  ansible.builtin.command: "ssh-keygen -F github.com -f {{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
  register: verify_github_known_hosts_check
  changed_when: false
  failed_when: false

- name: assert github.com is recognized
  ansible.builtin.assert:
    that:
      - verify_github_known_hosts_check.rc == 0
    fail_msg: "github.com was not found in the known_hosts file."
