---
- name: Check ssh directory and key stats
  ansible.builtin.stat:
    path: "{{ item.path }}"
  loop:
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh"
      mode: "0700"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519"
      mode: "0600"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/id_ed25519.pub"
      mode: "0600"
    - path: "{{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
      mode: "0644"
  register: ssh_verify_file_stats

- name: Assert ssh files exist and have correct permissions
  ansible.builtin.assert:
    that:
      - item.stat.exists
      - item.stat.mode == item.item.mode
    fail_msg: >
      SSH file check failed for {{ item.item.path }}.
      Ensure it exists and has mode {{ item.item.mode }}.
  loop: "{{ ssh_verify_file_stats.results }}"

- name: Verify github.com is in known_hosts
  ansible.builtin.command: >
    ssh-keygen -F github.com -f {{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts
  register: ssh_verify_github_known_hosts
  changed_when: false
  failed_when: false

- name: Assert github.com is recognized in known_hosts
  ansible.builtin.assert:
    that:
      - ssh_verify_github_known_hosts.rc == 0
    fail_msg: "github.com was not found in the known_hosts file."
