---
- name: set request headers
  set_fact:
    request_headers: >-
      {{
        {
          'Accept': 'application/vnd.github.v3+json'
        } | combine(
          {
            'Authorization': 'token ' + lookup('env','GHUB_ACCESS_TOKEN')
          } if (lookup('env', 'GHUB_ACCESS_TOKEN') | length) > 0 else {}
        )
      }}

- name: install zoxide
  become: true
  become_user: "{{ ansible_env.USER }}"
  changed_when: false
  shell: |
    curl -sSfL \
    {%- for k,v in request_headers.items() %}
      -H '{{ k }}: {{ v }}' \
    {%- endfor %}
    https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh \
    | sh
  args:
    executable: /bin/bash
