---
- name: Download aws cli package
  ansible.builtin.get_url:
    url: "https://awscli.amazonaws.com/AWSCLIV2.pkg"
    dest: "/tmp/AWSCLIV2.pkg"
  changed_when: false

- name: Install rosetta 2
  become: true
  ansible.builtin.command:
    cmd: softwareupdate --install-rosetta --agree-to-license
  when: ansible_facts['architecture'] in ['arm64','aarch64']
  changed_when: false

- name: Install aws cli package
  become: true
  ansible.builtin.command:
    cmd: "installer -pkg /tmp/AWSCLIV2.pkg -target /"
  changed_when: false

- name: Remove aws cli package file
  ansible.builtin.file:
    path: "/tmp/AWSCLIV2.pkg"
    state: absent
  changed_when: false
