---
- name: install git
  become: true
  apt:
    name: git
    state: latest

- name: create dev directory
  become: true
  file:
    path: "{{ ansible_facts.env.HOME }}/dev/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts.env.USER }}"

- name: create work directory
  become: true
  file:
    path: "{{ ansible_facts.env.HOME }}/work/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts.env.USER }}"

- name: download dotfiles repository
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  git:
    repo: "git@github.com:drew138/.dotfiles.git"
    dest: "{{ ansible_facts.env.HOME }}/.dotfiles"
    clone: true
    update: true

- name: download repositories
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  git:
    repo: "git@github.com:drew138/{{ item }}.git"
    dest: "{{ ansible_facts.env.HOME }}/dev/{{ item }}"
    clone: true
    update: true
  with_items: "{{ repository_names }}"
