---
- name: Install git
  community.general.homebrew:
    name:
      - git
    state: latest

- name: Create dev directory
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/dev/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts['env']['USER'] }}"

- name: Create work directory
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/work/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts['env']['USER'] }}"

- name: Download dotfiles repository
  ansible.builtin.git:
    repo: "git@github.com:drew138/.dotfiles.git"
    dest: "{{ ansible_facts['env']['HOME'] }}/.dotfiles"
    clone: true
    update: true
  changed_when: false

- name: Download repositories
  ansible.builtin.git:
    repo: "git@github.com:drew138/{{ item }}.git"
    dest: "{{ ansible_facts['env']['HOME'] }}/dev/{{ item }}"
    clone: true
    update: true
  with_items: "{{ repositories_names }}"
