---
- name: clone fzf repo
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  git:
    repo: "https://github.com/junegunn/fzf.git"
    dest: "{{ ansible_facts.env.HOME }}/.fzf"
    depth: 1
    version: HEAD
    clone: true
    update: true

- name: install fzf
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  command: "{{ ansible_facts.env.HOME }}/.fzf/install --no-bash --no-fish --key-bindings --completion --no-update-rc"
  changed_when: false
