---
- name: verify fzf repository exists
  stat:
    path: "{{ ansible_facts.env.HOME }}/.fzf"
  register: verify_fzf_dir

- name: assert fzf repository exists
  assert:
    that:
      - verify_fzf_dir.stat.exists
      - verify_fzf_dir.stat.isdir
    fail_msg: "~/.fzf repository does not exist"

- name: verify fzf shell integration script exists
  stat:
    path: "{{ ansible_facts.env.HOME }}/.fzf.zsh"
  register: verify_fzf_shell

- name: assert fzf shell integration script exists
  assert:
    that:
      - verify_fzf_shell.stat.exists
      - verify_fzf_shell.stat.isfile
    fail_msg: "~/.fzf.zsh shell integration script does not exist"
