---
- name: Install git
  community.general.homebrew:
    name:
      - git
    state: latest

- name: Create .gitconfig symlink
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/roles/git/files/.gitconfig"
    dest: "{{ ansible_facts['env']['HOME'] }}/.gitconfig"
    state: link
    force: true
    follow: false

- name: Create .gitignore_global symlink
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/roles/git/files/.gitignore_global"
    dest: "{{ ansible_facts['env']['HOME'] }}/.gitignore_global"
    state: link
    force: true
    follow: false

- name: Create .work.gitconfig file
  ansible.builtin.copy:
    content: ""
    dest: "{{ ansible_facts['env']['HOME'] }}/.work.gitconfig"
    backup: true
    force: false
    mode: "0700"
    owner: "{{ ansible_facts['env']['USER'] }}"

- name: Create work directory
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/work/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts['env']['USER'] }}"
