---
- name: ensure .local folder exists
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local"
    state: directory
    mode: "0755"

- name: ensure share folder exists
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/share"
    state: directory
    mode: "0755"

- name: clone zinit repository
  become: true
  become_user: "{{ ansible_facts['env']['USER'] }}"
  git:
    repo: "{{ zinit_repo }}"
    dest: "{{ zinit_home }}"
    clone: true
    update: true
