---
- name: Ensure .local folder exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local"
    state: directory
    mode: "0755"

- name: Ensure share folder exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/share"
    state: directory
    mode: "0755"

- name: Clone zinit repository
  become: true
  become_user: "{{ ansible_facts['env']['USER'] }}"
  ansible.builtin.git:
    repo: "{{ zinit_repo }}"
    dest: "{{ zinit_home }}"
    clone: true
    update: true
