---
- name: Determine system architecture
  ansible.builtin.set_fact:
    go_arch: >-
      {{
        {
          'aarch64': 'arm64',
          'arm64': 'arm64',
          'amd64': 'amd64',
          'x86_64': 'amd64',
        }.get(ansible_facts['architecture'], 'invalid')
      }}

- name: Fail if architecture is not supported
  ansible.builtin.fail:
    msg: "Unsupported architecture: {{ ansible_facts['architecture'] }}. Supported values are ['aarch64', 'arm64', 'x86_64', 'amd64']."
  when: go_arch == 'invalid'

- name: Set go_os
  ansible.builtin.set_fact:
    go_os: "darwin"
  changed_when: false

- name: Get filename prefix with latest version
  ansible.builtin.uri:
    url: "{{ go_latest_version_url }}"
    return_content: true
  register: go_latest_version_response
  when: go_version == "latest"

- name: Parse go_filename_prefix
  ansible.builtin.set_fact:
    go_filename_prefix: "{{ go_latest_version_response.content.split('\n')[0] }}"
  when: go_version == "latest"

- name: Get filename prefix with fixed version
  ansible.builtin.set_fact:
    go_filename_prefix: go{{ ansible_go_version }}
  when: go_version != "latest"

- name: Try to get current go version installed
  ansible.builtin.command: go version
  register: go_version_result
  failed_when: false
  changed_when: false

- name: Set go_current_version var
  ansible.builtin.set_fact:
    go_current_version: "{{ go_version_result.stdout.split(' ')[2] }}"
  when: go_version_result.rc == 0

- name: Set go_current_version var to none
  ansible.builtin.set_fact:
    go_current_version: "none"
  when: go_version_result.rc != 0

- name: Install gnu-tar
  community.general.homebrew:
    name:
      - gnu-tar
    state: latest

- name: Download and extract go tar file
  become: true
  ansible.builtin.unarchive:
    src: "{{ go_download_url }}"
    dest: /usr/local
    remote_src: true
    creates: "/usr/local/go"
  when: go_current_version not in go_filename_prefix
  notify:
    - install_go_binaries
