---
- name: "installs homebrew {{ cask.name }} cask"
  community.general.homebrew_cask:
    name: "{{ cask.name }}"
    state: present

- name: Remove quarantine from installed app
  ansible.builtin.command: xattr -d com.apple.quarantine "/Applications/{{ cask.app }}.app"
  changed_when: false
  failed_when: false
