---
- name: "installs homebrew {{ cask.name }} cask"
  homebrew_cask:
    name: "{{ cask.name }}"
    state: present

- name: remove quarantine from installed app
  command: xattr -d com.apple.quarantine "/Applications/{{ cask.app }}.app"
  changed_when: false
