---
- name: Verify Homebrew casks installation
  ansible.builtin.stat:
    path: "/Applications/{{ item.app }}.app"
  loop: "{{ casks_applications }}"
  register: casks_verify_cask_stats

- name: Assert casks are present in /Applications
  ansible.builtin.assert:
    that:
      - item.stat.exists
    fail_msg: >
      cask {{ item.item.name }} was not found at /Applications/{{ item.item.app }}.app
  loop: "{{ casks_verify_cask_stats.results }}"

- name: Check Gatekeeper status on installed apps
  ansible.builtin.command: spctl --assess "/Applications/{{ item.app }}.app"
  loop: "{{ casks_applications }}"
  register: casks_quarantine_verify
  changed_when: false

- name: Assert casks are allowed by Gatekeeper
  ansible.builtin.assert:
    that:
      - item.rc == 0
    fail_msg: >
      Cask {{ item.item.name }} ({{ item.item.app }}) would still trigger a Gatekeeper warning
  loop: "{{ casks_quarantine_verify.results }}"
