---
- name: verify Homebrew casks installation
  stat:
    path: "/Applications/{{ item.app }}.app"
  loop: "{{ casks }}"
  register: verify_cask_stats

- name: assert casks are present in /Applications
  assert:
    that:
      - item.stat.exists
    fail_msg: >
      cask {{ item.item.name }} was not found at /Applications/{{ item.item.app }}.app
  loop: "{{ verify_cask_stats.results }}"

- name: Check Gatekeeper status on installed apps
  command: spctl --assess "/Applications/{{ item.app }}.app"
  loop: "{{ casks }}"
  register: quarantine_verify
  changed_when: false

- name: assert casks are allowed by Gatekeeper
  assert:
    that:
      - item.rc == 0
    fail_msg: >
      Cask {{ item.item.name }} ({{ item.item.app }}) would still trigger a Gatekeeper warning
  loop: "{{ quarantine_verify.results }}"
