---
- name: verify homebrew casks installation
  stat:
    path: "/Applications/{{ item.name }}.app"
  loop:
    - name: Brave Browser
      cask: brave-browser
    - name: DBeaver
      cask: dbeaver-community
    - name: Slack
      cask: slack
    - name: Spotify
      cask: spotify
    - name: Discord
      cask: discord
    - name: Obsidian
      cask: obsidian
    - name: Postman
      cask: postman
    - name: OBS
      cask: obs
    - name: Bitwarden
      cask: bitwarden
    - name: Notion
      cask: notion
    - name: Notion Calendar
      cask: notion-calendar
    - name: WhatsApp
      cask: whatsapp
    - name: Dropbox
      cask: dropbox
    - name: Google Chrome
      cask: google-chrome
    - name: UTM
      cask: utm
  register: verify_cask_stats

- name: assert casks are present in Applications
  assert:
    that:
      - item.stat.exists
    fail_msg: >
      Cask {{ item.item.cask }} was not found at /Applications/{{ item.item.name }}.app
  loop: "{{ verify_cask_stats.results }}"

