---
- name: install required packages
  apt:
    name:
      - gnupg
      - software-properties-common
      - lsb-release
    state: latest

- name: create /etc/apt/keyrings directory if it doesn't exist
  become: true
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: download hashicorp armored GPG key
  become: true
  get_url:
    url: "{{ hashicorp_repo_url }}/gpg"
    dest: "{{ hashicorp_keyring_path }}_armored"

- name: de-armor hashicorp GPG key
  become: true
  command: "gpg --dearmor < {{ hashicorp_keyring_path }}_armored > {{ hashicorp_keyring_path }}"
  no_log: true
  args:
    creates: "{{ hashicorp_keyring_path }}"

- name: add hashicorp repository
  become: true
  apt_repository:
    repo: "deb [signed-by={{ hashicorp_keyring_path }}] {{ hashicorp_repo_url }} $(lsb_release -cs) main"
    filename: /etc/apt/sources.list.d/hashicorp.list

- name: update package cache and install terraform
  become: true
  apt:
    update_cache: true
    name: terraform
    state: latest
