---
- name: ensure hashicorp Homebrew tap is available
  community.general.homebrew_tap:
    name: hashicorp/tap
    state: present

- name: install terraform
  become: true
  become_user: "{{ ansible_facts['env']['USER'] }}"
  community.general.homebrew:
    name:
      - hashicorp/tap/terraform
    state: latest
