---
- name: Determine system architecture
  ansible.builtin.set_fact:
    gcloud_cli_arch: >-
      {{
        {
          'aarch64': 'arm',
          'arm64': 'arm',
          'x86_64': 'x86_64',
          'amd64': 'x86_64'
        }.get(ansible_facts['architecture'], 'invalid')
      }}

- name: Fail if architecture is not supported
  fail:
    msg: "Unsupported architecture: {{ ansible_facts['architecture'] }}. Supported values are ['aarch64', 'arm64', 'x86_64', 'amd64']."
  when: gcloud_cli_arch == 'invalid'

- name: Set gcloud_os
  ansible.builtin.set_fact:
    gcloud_os: "darwin"
  changed_when: false

- name: Install gnu-tar
  become_user: "{{ ansible_facts['env']['USER'] }}"
  community.general.homebrew:
    name:
      - gnu-tar
    state: latest

- name: Unzip the gcloud cli directory
  unarchive:
    src: "{{ gcloud_download_url }}"
    dest: "{{ ansible_facts['env']['HOME'] }}"
    remote_src: true
  changed_when: false
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_facts['env']['PATH'] }}"
