---
- name: locate dependency binaries
  command: "which {{ item }}"
  loop:
    - pyenv
    - xz
  register: verify_deps_which
  changed_when: false
  failed_when: false

- name: check if dependency binaries exist
  stat:
    path: "{{ item.stdout }}"
  loop: "{{ verify_deps_which.results }}"
  register: verify_deps_bin
  when: item.rc == 0

- name: assert dependency binaries are present and executable
  assert:
    that:
      - item.stat is defined
      - item.stat.exists
      - item.stat.executable
    fail_msg: "Binary {{ item.item.item }} was not found in the PATH or is not executable"
  loop: "{{ verify_deps_bin.results }}"
  when: not item.skipped | default(false)
