---
- name: Locate dependency binaries
  ansible.builtin.command: "which {{ item }}"
  loop:
    - pyenv
    - xz
  register: pyenv_verify_deps_which
  changed_when: false
  failed_when: false

- name: Check if dependency binaries exist
  ansible.builtin.stat:
    path: "{{ item.stdout }}"
  loop: "{{ pyenv_verify_deps_which.results }}"
  register: pyenv_verify_deps_bin
  when: item.rc == 0

- name: Assert dependency binaries are present and executable
  ansible.builtin.assert:
    that:
      - item.stat is defined
      - item.stat.exists
      - item.stat.executable
    fail_msg: "Binary {{ item.item.item }} was not found in the PATH or is not executable"
  loop: "{{ pyenv_verify_deps_bin.results }}"
  when: not item.skipped | default(false)
