---
- name: install eza
  become_user: "{{ ansible_facts.env.USER }}"
  homebrew:
    name:
      - eza
    state: latest

- name: create dev directory
  become: true
  file:
    path: "{{ ansible_facts.env.HOME }}/dev/"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts.env.USER }}"

- name: clone eza repository
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  changed_when: false
  git:
    repo: "{{ eza_repo }}"
    dest: "{{ eza_home }}"
    clone: true
    force: true
    update: true
    depth: 1

    # TODO: remove
- name: check fzf repo status
  become: true
  become_user: "{{ ansible_facts.env.USER }}"
  command: git status --porcelain
  args:
    chdir: "{{ ansible_facts.env.HOME }}/.fzf"
  register: fzf_git_status
  changed_when: false
  failed_when: false

- name: debug fzf git status
  debug:
    msg: |
      fzf git status:
      {{ fzf_git_status.stdout | default('(clean)') }}
