---
- name: install docker, docker-compose and colima
  become_user: "{{ ansible_facts.env.USER }}"
  homebrew:
    name:
      - colima
      - docker-compose
      - docker
    state: latest

# - name: installs docker
#   # become_user: "{{ ansible_facts.env.USER }}"
#   become: false
#   homebrew_cask:
#     name:
#       - docker
#     state: present
#   # ignore_errors: true
