---
- name: install docker-compose and colima
  # become_user: "{{ ansible_env.USER }}"
  become: false
  homebrew:
    name:
      - colima
      - docker-compose
    state: latest

- name: installs docker
  # become_user: "{{ ansible_env.USER }}"
  become: false
  homebrew_cask:
    name:
      - docker
    state: present
  # ignore_errors: true
