---
- name: install docker, docker-compose and colima
  become_user: "{{ ansible_facts['env']['USER'] }}"
  community.general.homebrew:
    name:
      - colima
      - docker-compose
      - docker
    state: latest
