---
- name: Ensure .config directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config"
    state: directory
    owner: "{{ ansible_facts['env']['USER'] }}"
    mode: "0700"

- name: Create starship symlink
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/roles/starship/files/starship.toml"
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/starship.toml"
    owner: "{{ ansible_facts['env']['USER'] }}"
    state: link
    force: true
    follow: false
