---
- name: check starship config and directory stats
  ansible.builtin.stat:
    path: "{{ item.path }}"
  loop:
    - path: "{{ ansible_facts['env']['HOME'] }}/.config"
      mode: "0700"
    - path: "{{ ansible_facts['env']['HOME'] }}/.config/starship.toml"
      mode: "0644"
  register: verify_starship_stats

- name: assert .config directory exists with correct mode
  assert:
    that:
      - verify_starship_stats.results[0].stat.exists
      - verify_starship_stats.results[0].stat.isdir
      - verify_starship_stats.results[0].stat.mode == "0700"
    fail_msg: "~/.config directory check failed"

- name: assert starship.toml symlink is valid
  assert:
    that:
      - verify_starship_stats.results[1].stat.exists
      - verify_starship_stats.results[1].stat.islnk
      - verify_starship_stats.results[1].stat.lnk_source == ansible_facts['env']['HOME'] + "/.dotfiles/roles/starship/files/starship.toml"
    fail_msg: "Starship symlink is missing or pointing to the wrong source"
