---
- name: install duti
  become_user: "{{ ansible_facts.env.USER }}"
  homebrew:
    name:
      - duti
    state: latest

- name: set chrome as default browser for http
  command: duti -s com.google.Chrome http
  become: false
  environment:
    HOME: "{{ ansible_facts.env.HOME }}"
  changed_when: false

- name: set chrome as default browser for https
  command: duti -s com.google.Chrome https
  become: false
  environment:
    HOME: "{{ ansible_facts.env.HOME }}"
  changed_when: false

- name: set chrome as default browser for ftp
  command: duti -s com.google.Chrome ftp
  become: false
  environment:
    HOME: "{{ ansible_facts.env.HOME }}"
  changed_when: false

- name: set chrome as default app for pdf files
  command: duti -s com.google.Chrome .pdf all
  become: false
  environment:
    HOME: "{{ ansible_facts.env.HOME }}"
  changed_when: false
