---
- name: locate duti binary
  command: "which {{ item }}"
  loop:
    - duti
  register: verify_duti_which
  changed_when: false
  failed_when: false

- name: check if duti binary exists
  stat:
    path: "{{ item.stdout }}"
  loop: "{{ verify_duti_which.results }}"
  register: verify_duti_bin
  when: item.rc == 0

- name: assert duti binary is present and executable
  assert:
    that:
      - item.stat is defined
      - item.stat.exists
      - item.stat.executable
    fail_msg: "Binary {{ item.item.item }} was not found in the PATH or is not executable"
  loop: "{{ verify_duti_bin.results }}"
  when: not item.skipped | default(false)

- name: verify chrome is default for http
  command: duti -x http
  register: verify_duti_http
  changed_when: false

- name: assert chrome is default for http
  assert:
    that:
      - "'com.google.Chrome' in verify_duti_http.stdout"
    fail_msg: "Chrome is not the default browser for HTTP"

- name: verify chrome is default for https
  command: duti -x https
  register: verify_duti_https
  changed_when: false

- name: assert chrome is default for https
  assert:
    that:
      - "'com.google.Chrome' in verify_duti_https.stdout"
    fail_msg: "Chrome is not the default browser for HTTPS"

- name: verify chrome is default for pdf
  command: duti -x .pdf
  register: verify_duti_pdf
  changed_when: false

- name: assert chrome is default pdf reader
  assert:
    that:
      - "'com.google.Chrome' in verify_duti_pdf.stdout"
    fail_msg: "Chrome is not set as the default PDF reader"
