---
- name: read sound settings
  shell: "{{ item.cmd }}"
  register: verify_sound_settings
  changed_when: false
  failed_when: false
  loop:
    - name: beep_feedback
      cmd: defaults read NSGlobalDomain com.apple.sound.beep.feedback
      expected: "0"

    - name: startup_mute
      cmd: nvram -p | grep -E '^StartupMute'
      expected: "%01"

- name: assert sound settings
  assert:
    that:
      - item.stdout is search(item.item.expected)
    success_msg: "Sound setting {{ item.item.name }} is correct"
    fail_msg: >-
      Sound setting {{ item.item.name }} is incorrect
      (expected to contain={{ item.item.expected }},
       got={{ item.stdout | trim | default('unset') }})
  loop: "{{ verify_sound_settings.results }}"
