---
cli_brew_packages:
  - htop
  - ripgrep
  - virtualenv
  - protobuf
  - git
  - jq
  - yq
  - curl
  - wget
  - gnu-tar
  - xclip

  # required by python for scikit
  # learn god knows why
  - llvm
  - libomp

cli_python_packages:
  - pre-commit
  - poetry==1.8.3
  - ansible
  - cookiecutter
