---
- name: install fd-find
  become: true
  apt:
    name:
      - fd-find
    state: latest

- name: create ~/.local directory
  file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: 0700
    owner: "{{ ansible_env.USER }}"

- name: create ~/.local/bin directory
  file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: 0700
    owner: "{{ ansible_env.USER }}"

- name: create symlink for fdfind
  become: true
  file:
    src: "{{ lookup('pipe', 'which fdfind') }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/fd"
    owner: "{{ ansible_env.USER }}"
    state: link
    force: true
