---
- name: Install various clis
  become: true
  become_user: "{{ ansible_facts['env']['USER'] }}"
  community.general.homebrew:
    name: "{{ clitools_brew_packages }}"
    state: latest

- name: Ensure virtual environment is created
  ansible.builtin.command: python3 -m venv "{{ ansible_facts['env']['HOME'] }}/.clitools"
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.clitools/bin/activate"
  environment:
    PATH: "/opt/homebrew/bin:/usr/local/bin:{{ ansible_facts['env']['PATH'] }}"

- name: Install python tooling in virtual environment
  ansible.builtin.pip:
    name: "{{ clitools_python_packages }}"
    state: latest
    virtualenv: "{{ ansible_facts['env']['HOME'] }}/.clitools"
  environment:
    PATH: "/opt/homebrew/bin:/usr/local/bin:{{ ansible_facts['env']['PATH'] }}"
